

// Text
.header-text {
    user-select: none;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    margin-right: 10px;
}
@media screen and (max-width: 450px) {
    .header-text {
        display: block;
    }
}
  
.waviy .letter-animation {
    user-select: none;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }