<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem; min-width: 300px; backdrop-filter: blur(30px); --bs-bg-opacity: .5;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">Username</label>
                        <input type="email" id="typeEmailX" class="form-control form-control-md" formControlName="username" maxlength="20"
                            [ngClass]="{'border-danger': !form.controls['username'].valid && !form.controls['username'].untouched}">
                    </div>

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">Password</label>
                        <input type="password" id="typePasswordX" class="form-control form-control-md" formControlName="password" maxlength="30"
                            [ngClass]="{'border-danger': !form.controls['password'].valid && !form.controls['password'].untouched}">
                    </div>
                    
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX2">Repeat your password</label>
                        <input type="password" id="typePasswordX2" class="form-control form-control-md" formControlName="password2" maxlength="30"
                            [ngClass]="{'border-danger': !form.controls['password2'].valid && !form.controls['password2'].untouched}">
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="isBusy">Register</button>
                    <p class="mb-0 text-danger pt-1 h6" *ngIf="errorMessage">{{errorMessage}}</p>
                </form>
            </div>

            <div>
              <p class="mb-0">Already have an account? <a type="button" (click)="changeScreen()" class="text-white-50 fw-bold">Log in</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <form [formGroup]="form" (ngSubmit)="onFormSubmit()" style="max-width: 300px;">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username"
        [ngClass]="{'border-danger': !form.controls['username'].valid && !form.controls['username'].untouched}">
  </div>
  <div class="form-group mt-2">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
        [ngClass]="{'border-danger': !form.controls['password'].valid && !form.controls['password'].untouched}">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Register</button>
  
  <p>Already have an account? <a href="/login" class="fa-facebook">Login</a></p>
  
</form> -->